---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
 //        padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting";

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

//#header-title {"Palatino Linotype", "Book Antiqua", Palatino, serif;}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

html {
    background: url(../background.jpg) no-repeat center center;
    background-attachment: fixed;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.navbar {
	   background-color: #f9faf5;
	   border-color: #d1d0cb
	}
header ul li a:active {
	transform: translateY(3px);
}

a#header-title {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.7em;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

 .site-footer, .page-wrap:after {
      height: 70px;
 }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
footer p {
	margin: 20px 20px;
	display: inline-block;
	float: left;
	color: rgb(232, 232, 232);
	position: fixed;
	bottom: 0px;
}

img.social-icon {
	height: 40px; 
	width: 40px;
}

.social-media-list {
  float: right;
  margin: 20px 20px;
  text-align: center;
}

.about {
  display: inline-block;
}

.well-lg {

  margin-top: 65px;
}

.col-md-12 {
  background: rgba(250, 250, 250, 0);
}

#post-body {
    background-color: transparent;
}

#post-content {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);	
}
/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	/*
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
	*/
}
ul#footer-menu li {
    display: inline-block;
    margin-right: 10px;
}

//ul#footer-menu li a {
//	box-shadow: 3px 3px 3px #888888;
//}


.w3-animate-top{
	opacity:0;
	position:relative;
	-webkit-animation:animatetop 1s;
	animation:animatetop 1s;
	
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    	animation-delay: 500ms;
}

.slide-out {
		opacity:1;
	position:relative;
	-webkit-animation:animateup 1s;
	animation:animatetup 1s;
	
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@media screen and (max-width: 480px) {
    footer p {
        display: none;
    }
    
    
	html {
	    background: url(../background.jpg) no-repeat center center;
	    background-attachment: fixed;
	    
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    
	}
	
	.social-media-list {
	float: none;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 20px;
  	text-align: center;
	}
	
}
	
	
	
	
@-webkit-keyframes animatetop{
	from{top:-700px;opacity:0} to{top:0;opacity:1}}
	
@keyframes animatetop{from{top:-700px;opacity:0} to{top:0;opacity:1}}

@-webkit-keyframes animateup{
	from{top:0;opacity:1} to{top:-700px;opacity:0}}
	
@keyframes animateup{from{top:0;opacity:1} to{top:-700;opacity:0}}
