<footer class="">
  <ul class="social-media-list" id="footer-menu">
    <li>
      <a href="https://twitter.com/jarekpaulervin" target="_blank"><img class="social-icon" src="/icon-twitter.jpg" alt="Jarek on Twitter"/></a>
    </li>
      <li>
      <a href="https://virginia.academia.edu/JarekErvin" target="_blank"><img class="social-icon" src="/icon-academia.jpg" alt="Jarek on Academia.edu"/></a>
    </li>
          <li>
      <a href="mailto:tua43104@temple.edu" target="_top"><img class="social-icon" src="/icon-email.jpg" alt="Email Jarek"/></a>
    </li>
  </ul>
  <p title="Background image: Radio Row, NYC (1936). From The New York Public Library Digital Collections.">
   &copy; Jarek Paul Ervin 2018
  </p>
</footer>
