
<!-- Put your page content here! -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="About" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About</h4>
        </div>
        <div class="modal-body">
            <div class="about">
              <!-- About Content Below -->
            <div class="about-img">
            <img src="/Headshot.jpg" alt="Jarek Ervin">
           </div>
           <br>
<p>
I am a writer, editor, proofreader, musician, and teacher. My experience includes work in a range of publishing contexts, from social media promotion and web publication to longform journalism and academic publishing.
</p>
<br>
<p>
I went to school at Temple University and University of Virginia. In addition to working as a teacher at both places, I’ve worked as an editor for the website <a href= "iaspm-us.net" target="_blank">iaspm-us.net</a> and as a research intern at Library of Congress. I'm currently an instructor at Westminster College of the Arts and the Executive Web Editor for iaspm-us.net.
</p>
<br>
<p>
My writing has appeared in a number of publications, including <em>Jacobin</em>, <em>Journal of Popular Music & Society</em>, <em>Popular Music</em>, <em>In the Muse</em>, and <em>iaspm-us.net</em>.
</p>
<br>
<p>
See Writing and Blog for samples of my work.</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Contact" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact</h4>
        </div>
        <div class="modal-body">
                <!-- Contact Content Below -->
              <address>
                 <strong>Mail:</strong><br>
                 <br>
                 McIntire Department of Music<br>
                 University of Virginia<br>
                 112 Old Cabell Hall<br>
                 P.O. Box 400176<br>
                 Charlottesville, VA 22904-4176<br>
                 <br>
            </address>
            <address>
                <strong>Electronic:</strong><br>
                 <br>
                 <a href="mailto:jpe5bk@virginia.edu">E-mail</a><br>
                 <a href="https://twitter.com/jarekpaulervin" target="_blank">Twitter</a><br>
                 <a href="https://virginia.academia.edu/JarekErvin" target="_blank">Academia.edu</a><br>
                 <br>
           </address>
           <address>
                <strong>Design:</strong><br>
                 <br>
                 Web design by <a href="https://beejluig.github.io/" target="_blank">BJ Cantlupe</a>.<br>
                 Headshot by <a href="http://www.xhilarate.com/" target="_blank">Zave Smith</a>.<br>
                 Background from <a href="http://digitalcollections.nypl.org/items/510d47d9-4f01-a3d9-e040-e00a18064a99" target="_blank">NYPL Digital Collections</a>.
            </address>
            <!-- Contact Content Above -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Vita" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vita</h4>
        </div>
        <div class="modal-body vita">
<div>
    <p>
            <strong>EMPLOYMENT</strong>
    </p>
      <ul>
        <li><em>Graduate Teaching Assistant</em>: University of Virginia (2012-2017)</li>
        <li><em>Teaching Assistant</em>: Temple University (2010-2012)</li>
      </ul>
    <p>
        <br>
      <strong>EDUCATION</strong>
      </p>
      <ul>
        <li>PhD, Music – University of Virginia (May 2017)</li>
        <li>MA, Music – University of Virginia (December 2015)</li>
        <li>MM, Music History – Temple University (May 2012)</li>
        <li>BM, Guitar Performance – Temple University, <em>magna cum laude</em> (May 2010)</li>
      </ul>
      <br>
    <p>
      <strong>SELECT PUBLICATIONS</strong>
    </p>
    <ul>
      <li>"Saving the NEA Won’t Save Culture." With Benjamin Laude. <em>Jacobin</em>. May 7, 2017.</li>
      <li>"Philadelphia and the National Endowment for the Arts." <em>The Philadelphia Partisan</em>. April 12, 2017.</li>
      <li>Review of <em>One Chord Wonders: Power and Meaning in Punk Rock</em>, by Dave Laing. <em>Popular Music and Society</em> 39:04 (October, 2016): 476-478.</li>
      <li>"Inside the Green Room." <em>Jacobin</em>. June 14, 2016.</li>
      <li>Review of <em>Networks of Sound, Style, and Subversion: The Punk and Post-Punk
    Worlds of Manchester, London, Liverpool, and Sheffield, 1975-80</em>, by Nick
    Crossley. <em>Popular Music</em> 35:02 (May, 2016): 291-293.</li>
      <li>“Punk Rock New York.” <em>IASPM-US Website</em>. March 10, 2016.</li>
    </ul>
    <p>
        <br>
      <strong>FELLOWSHIPS AND AWARDS</strong>
    </p>
    <ul>
      <li>Peter L. Paige Grant – The Serpentine Society (2016-2017)</li>
      <li>PhD Fellowship – University of Virginia (2012-2017)</li>
      <li>Battestin Fellowship – Bibliographical Society of the University of Virginia (2016)</li>
      <li>Gladys Krieble Delmas Visiting Scholar – Rock & Roll Hall of Fame (2015)</li>
      <li>Arts, Humanities, and Social Sciences Summer Research Award – UVa (2015)</li>
      <li>Milton Sutter Memorial Award – Temple University (2012)</li>
      <li>Dean's Grant – Temple University (2011 & 2012)</li>
      <li>Frances Hutton Memorial Award – Temple University (2011)</li>
    </ul>
    <br>
    <p>
      <strong>SELECT CONFERENCE PRESENTATIONS</strong>
    </p>
    <ul>
      <li><q>Roundtable: The Spirit of ’77: Punk at 40.</q> <em>International Association for the Study of Popular Music, US Branch Annual Conference</em>. Cleveland, OH (February 23-26, 2017).</li>
      <li><q>Historical Materialism and Popular Music Studies.</q> <em>AMS/SMT</em>.
Vancouver, BC (November 3-6, 2016).</li>
      <li><q>’Are You a Boy or Are You A Girl?’ New York Queer Punk in the 1970s.</q> <em>IASPM-
US Annual Conference</em>. Calgary, AB (May 28-30, 2016).</li>
      <li><q>Lukács, Mahler, and the Antinomies of Musical Meaning.</q> <em>South Central
Graduate Music Consortium</em>. UNC Chapel Hill (September 19-20, 2014).</li>
      <li><q>On Art's Right to Exist.</q> <em>Left Forum: Reform and/or Revolution</em>. New York, NY
(May 30-June 1, 2014).</li>
      <li><q>From 'You Better Work' to 'Born this Way’: Popular Music and Gay Visibility.</q>
<em>Annual Meeting of the American Musicological Society</em>. New Orleans, LA
(November 1-4, 2012).</li>
      <li>“'Sometimes I Wished My Fist Was a Sledgehammer’: No Wave and the (Re)modernist Sublime.” <em>Music and Violence: Conflict, Resistance, and Reconciliation</em>. Boston University (February 18, 2012).</li>
      <li>“’It's Better than Pleasure, It Hurts More than Pain’: No Wave and the Subversion
of <em>Jouissance</em>.” <em>Radical Music History Symposium</em>. Sibelius Academy, Helsinki,
Finland (December 8-9, 2011).</li>
</ul>
<br>
   <p>
      <strong>TEACHING EXPERIENCE</strong> (2012-present)
    </p>
      <strong>University of Virginia</strong> (2012-present)
    </p>
      <p><u>As Instructor of Record, Music</u><br></p>
    <ul>
      <li>Fall 2015: Music Theory I</li>
      <li>Summer 2015: Popular Music/Cultural &amp; Historical Studies of Music</li>
      <li>Spring 2015: Basic Musical Skills</li>
      <li>Fall 2015: Basic Musical Skills</li>
    </ul>
    <p><u>As Teaching Assistant &amp; Discussion Leader, Music</u><br></p>
  <ul>
    <li>Spring 2015: Music and Politics</li>
    <li>Spring 2014: Popular Music</li>
    <li>Fall 2013: American Music</li>
    <li>Spring 2013: Introduction to Music</li>
    <li>Fall 2012: Exploring the Orchestra</li>
  </ul>
  <p>
    <strong>Temple University</strong> (2010-2012)
  </p>
  <p><u>As Teaching Assistant, Music Studies</u><br></p>
  <ul>
    <li>See full Vita for list of courses</li>
  </ul>
  <br>
  <p>
    <strong>SERVICE</strong>
  </p>
  <ul>
    <li><em>Executive Web Editor</em>: IASPM-US, 2017-present</li>
    <li><em>Executive Committee</em>: IASPM-US, 2016-present</li>
    <li><em>Organizer</em>: Social Theory Reading Group, UVa, 2014-2016</li>
    <li><em>Board Member</em>: LGBTQ Advisory Board, UVa, 2014-2016</li>
    <li><em>President</em>: Queer Grads, UVa, 2014-2016</li>
    <li><em>Chair</em>: South Central Graduate Music Consortium Conference, UVa, 2015</li>
    <li><em>Representative</em>: Graduate Student Council, UVa, 2013-2015</li>
    <li><em>Representative and Judge</em>: University Judiciary Committee, UVa, 2013-2015</li>
    <li><em>Organizer</em>: South Central Graduate Music Consortium, UNC Chapel Hill, 2014</li>
    <li><em>Representative</em>: GSAS Student Council Initiatives Committee, UVa, 2013-2014</li>
  </ul>
  <br>
          <p>For full CV, <a href="/Vita.pdf" target="_blank">click here</a>.</p>
        </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Blog" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Blog</h4>
        </div>
        <div class="modal-body">
          <div class="home">

            <ul class="post-list">
              {% for post in site.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  <span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
                </li>
              {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Publications" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Writing</h4>
        </div>
        <div class="modal-body">
                 <p><a href="https://jacobinmag.com/2017/05/national-endowment-arts-trump-funding-budget-appropriations" target="_blank"><q>
                   <figure><a href="https://jacobinmag.com/2017/05/national-endowment-arts-trump-funding-budget-appropriations" target="_blank"><img src="https://images.jacobinmag.com/2017/05/06154720/moby-dick.jpg"></a>
                     <figcaption><font size="-1.5">"Saving the NEA Won't Save Culture" (<em>Jacobin</em>)</font>
</figcaption>
</figure>
                <br>
                <br>
                <p><a href="https://www.jacobinmag.com/2016/06/punk-green-room-saulnier-skinheads-rar-rac-oi-national-front/" target="_blank"><q>Inside the Green Room</q></a><p>
                <ul>
                    <li>
                    online article
                    </li>
                    <li>
                    Published in <em>Jacobin</em> (June 14, 2016)
                    </li>
                    <li>
                    Article on the political history of punk music, focusing in particular on the long-running feud between left- and right-wing strains of the genre. 
                    </li>
                </ul>
                <br>
                <br>
                <p><a href="https://www.academia.edu/28078603/Review_of_One_Chord_Wonders_by_Dave_Laing">Review of <em>One Chord Wonders</em></a></p>
                <ul>
                    <li>
                    book review
                    </li>
                    <li>
                    Published in <em>Popular Music & Society</em> 39:04 (October, 2016): 476-478.
                    </li>
                    <li>
                    Review of a book by the pop music scholar David Laing, released in 1985 and republished in 2015. My review thinks through the implications of re-reading this classic punk studies text thirty years on.
                    </li>
                </ul>
                <br>
                <p>For more work, <a href="https://virginia.academia.edu/JarekErvin" target="_blank">click here</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
