---
layout: default-post
---
<!-- Put your page content here! -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="About" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About</h4>
        </div>
        <div class="modal-body">
            <div class="about">
                <img src="../../../../../Headshot.jpg" alt="Jarek Ervin">
            </div>
            <div class="about">
              <!-- About Content Below -->
            <p>
Jarek Paul Ervin is a music scholar and writer working at the intersection of

musicology, cultural studies, philosophy, and social theory. Broadly, Ervin’s

thought investigates the overlapping and often conflicting dynamics of music as

aesthetic practice, social force, historical inheritance, and a privileged window

into the domain of sensory experience. More generally, his research

concentrates on the areas of popular music studies; philosophy of music,

especially historical materialism, German Idealism, and critical theory (Lukács,

Benjamin, Bloch, and Adorno); and gender and sexuality in music. 
<br>
<br>
Ervin is currently a PhD candidate in University of Virginia’s McIntire Department

of Music. His dissertation concentrates on the fraught character of New York’s

iconic punk scene during the 1970s. The project focuses on a range of important

early punk artists, from well-known artists such as Velvet Underground, the

Ramones, and Patti Smith, to less-recognized figures including Jayne County,

Mumps, and Tuff Darts. Drawing on a range of archival, critical, and recorded

materials, Ervin’s project explores the way the category of punk served as a

fragile placeholder for a diverse and polemical musical practice during its early

history. Ultimately, this leads to an interrogation of broader issues related to

genre theory, gender and sexual identity in rock, and popular music’s troubled

internal history.
<br>
<br>
Recent projects have also addressed the early history of popular music studies,

avant-garde musical aesthetics, and the recent resurgence of white supremacist

music. Ervin is also actively involved in digital and public platforms for music

scholarship. He has written for a number of online forums, and actively maintains

a blog. Ervin is currently the Assistant Web Editor of the International Association

for the Study of Popular Music’s U.S. Branch; follow IASPM-US’s twitter at

@IASPMUS.
<br>
<br>
Ervin’s published work appears with or is forthcoming in Popular Music, Popular

music and Society, and Jacobin. He has also presented at a number of recent

conferences including 2014’s Left Forum and IASPM-US 2016; this fall, he will

present at the joint meeting of AMS and SMT in Vancouver. Ervin has held

fellowships from the Library of Congress and UVa’s Vice President&#39;s Office for

Research, and in 2015 was the Gladys Krieble Delmas Visiting Scholar at the

Rock and Roll Hall of Fame’s Library and Archives. In 2016, his work will be

supported by a Battestin Fellowship from the Bibliographical Society of the

University of Virginia.
</p>
    <p>For more about his research and teaching, <a href="https://virginia.academia.edu/JarekErvin" target="_blank">click here.</a></p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Contact" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact</h4>
        </div>
        <div class="modal-body">
                <!-- Contact Content Below -->
              <address>
                 <strong>Mail:</strong><br>
                 <br>
                 McIntire Department of Music<br>
                 University of Virginia<br>
                 112 Old Cabell Hall<br>
                 P.O. Box 400176<br>
                 Charlottesville, VA 22904-4176<br>
            </address>
            <address>
                <strong>Electronic:</strong><br>
                 <br>
                 <a href="mailto:jpe5bk@virginia.edu">E-mail</a><br>
                 <a href="https://twitter.com/jarekpaulervin" target="_blank">Twitter</a><br>
                 <a href="https://virginia.academia.edu/JarekErvin" target="_blank">Academia.edu</a>
            </address>
            <!-- Contact Content Above -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Vita" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vita</h4>
        </div>
        <div class="modal-body vita">
<div class="" style="font-family: Georgia;">
    <p>
      <strong>EMPLOYMENT</strong>
    </p>
      <ul>
        <li>2012-2016: Graduate Teaching Assistant, University of Virginia</li>
        <li>2010-2012: Teaching Assistant, Temple University</li>
      </ul>
    <p>
        <br>
      <strong>EDUCATION</strong>
      </p>
      <ul>
        <li>Ph.D., Music. University of Virginia [in progress]</li>
        <li>M.A., Music. University of Virginia (December 2015)</li>
        <li>M.M., Music History. Temple University (May 2012)</li>
        <li>B.M., Guitar Performance. Temple University, magna cum laude (May 2010)</li>
      </ul>
      <br>
    <p>
      <strong>PUBLICATIONS</strong>
    </p>
    <ul>
      <li>
        Review of <em>One Chord Wonders: Power and Meaning in Punk Rock</em>, by David
        Laing. <em>Popular Music and Society</em> 39:04 (October, 2016). [forthcoming]
      </li>
      <li>
        “Inside the Green Room.” <em>Jacobin</em>. June 14, 2016.
        https://www.jacobinmag.com/2016/06/punk-green-room-saulnier-skinheads-rar-rac-oi-national-front/
      </li>
      <li>Review of <em>Networks of Sound, Style, and Subversion: The Punk and Post-Punk
    Worlds of Manchester, London, Liverpool, and Sheffield, 1975-80</em>, by Nick
    Crossley. <em>Popular Music</em> 35:02 (May, 2016): 291-293.</li>

      <li>“Punk Rock New York.” <em>International Association for the Study of Popular
    Music-US Website</em>. 20-track mixtape with liner notes. March 10, 2016,
    http://iaspm-us.net/mixtape-series-2016-punk-rock-new-york-by-jarek-paulervin</li>
    </ul>
    <p>
        <br>
      <strong>FELLOWSHIPS AND AWARDS</strong>
    </p>
    <ul>
      <li>2012-2017: PhD Fellowship, University of Virginia</li>
      <li>2016: Battestin Fellowship, Bibliographical Society of the University of Virginia</li>
      <li>2015: Gladys Krieble Delmas Visiting Scholar, Rock & Roll Hall of Fame</li>
      <li>2015: Arts, Humanities, and Social Sciences Summer Research Award, UVa</li>
      <li>2012: Milton Sutter Memorial Award, Temple University</li>
      <li>2011 & 2012: Dean's Grant, Temple University</li>
      <li>2011: Frances Hutton Memorial Award, Temple University</li>
    </ul>
    <br>
    <p>
      <strong>CONFERENCE PRESENTATIONS</strong>
    </p>
    <ul>
      <li><q>Popular Music Studies, Marxism, and the Culture Concept.</q> <em>AMS/SMT</em>.
Vancouver, BC (November 3-6, 2016) [Upcoming]</li><br>
      <li><q>’Are You a Boy or Are You A Girl?’ New York Queer Punk in the 1970s.</q> <em>IASPM-
US Annual Conference</em>. Calgary, AB (May 28-30, 2016).</li><br>
      <li><q>Lukács, Mahler, and the Antinomies of Musical Meaning.</q> <em>South Central
Graduate Music Consortium</em>. UNC Chapel Hill (September 19-20, 2014).</li><br>
      <li><q>On Art's Right to Exist.</q> <em>Left Forum: Reform and/or Revolution</em>. New York, NY
(May 30-June 1, 2014).</li><br>
      <li><q>From 'You Better Work' to 'Born this Way’: Popular Music and Gay Visibility.</q>
<em>Annual Meeting of the American Musicological Society</em>. New Orleans, LA
(November 1-4, 2012).</li><br>
      <li><q>’It's Better than Pleasure, It Hurts More than Pain’: No Wave and the Subversion
of Jouissance.</q> <em>Buffalo Graduate Symposium on Music</em>. SUNY Buffalo (March 3-
4, 2012).</li><br>
      <li>“'Sometimes I Wished My Fist Was a Sledgehammer’: No Wave and the
(Re)modernist Sublime.” Music and Violence: Conflict, Resistance, and
Reconciliation. Boston University (February 18, 2012).</li><br>
      <li>“’It's Better than Pleasure, It Hurts More than Pain’: No Wave and the Subversion
of <em>Jouissance</em>.” <em>Radical Music History Symposium</em>. Sibelius Academy, Helsinki,
Finland (December 8-9, 2011).</li><br>
      <li><q>Audiovisual Remix and the Rise of Internet Culture.</q> <em>ConTemplum New Music
Symposium</em>. Temple University (October 10, 2011).</li><br>
</ul>
<br>
   <p>
      <strong>TEACHING EXPERIENCE</strong> (2012-present)
    </p>
      <strong>University of Virginia</strong> (2012-present)
    </p>
      <p><u>As Instructor of Record, Music</u><br></p>
    <ul>
      <li>Fall 2015: Music Theory I</li>
      <li>Summer 2015: Popular Music/Cultural &amp; Historical Studies of Music</li>
      <li>Spring 2015: Basic Musical Skills</li>
      <li>Fall 2015: Basic Musical Skills</li>
    </ul>
    <p><u>As Teaching Assistant &amp; Discussion Leader, Music</u><br></p>
  <ul>
    <li>Spring 2015: Music and Politics</li>
    <li>Spring 2014: Popular Music</li>
    <li>Fall 2013: American Music</li>
    <li>Spring 2013: Introduction to Music</li>
    <li>Fall 2012: Exploring the Orchestra</li>
  </ul>
  <p>
    <strong>Temple University</strong> (2010-2012)
  </p>
  <p><u>As Teaching Assistant, Music Studies</u><br></p>
  <ul>
    <li>See full Vita for list of courses</li>
  </ul>
  <br>
  <p>
    <strong>SERVICE</strong>
  </p>
  <ul>
    <li><em>Executive Committee</em>: IASPM-US, 2016-present</li>
    <li><em>Assistant Web Editor</em>: IASPM-US, 2016-present</li>
    <li><em>Membership &amp; Communications Committee</em>: IASPM-US, 2016-present</li>
    <li><em>Organizer</em>: Critical Theory Reading Group, UVa, 2015-2016</li>
    <li><em>Board Member</em>: LGBTQ Advisory Board, UVa, 2014-2016</li>
    <li><em>President</em>: Queer Grads, UVa, 2014-2016</li>
    <li><em>Chair</em>: South Central Graduate Music Consortium Conference, UVa, 2015</li>
    <li><em>Founder</em>: Social Theory Reading Group, UVa, 2014-2015</li>
    <li><em>Representative</em>: Graduate Student Council, UVa, 2013-2015</li>
    <li><em>Representative and Judge</em>: University Judiciary Committee, UVa, 2013-2015</li>
    <li><em>Organizer</em>: South Central Graduate Music Consortium, UNC Chapel Hill, 2014</li>
    <li><em>Representative</em>: GSAS Student Council Initiatives Committee, UVa, 2013-2014</li>
  </ul>
  <br>
          <h4>For full CV, <a href="../../../../../Vita.pdf" target="_blank">click here</a></h4>
        </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Blog" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Blog</h4>
        </div>
        <div class="modal-body">
          <div class="home">

            <h1 class="page-heading">Posts</h1>

            <ul class="post-list">
              {% for post in site.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>
                </li>
              {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="Publications" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Writing Samples</h4>
        </div>
        <div class="modal-body">
            <h5>ONLINE</h5>

          <p><a href="https://www.jacobinmag.com/2016/06/punk-green-room-saulnier-skinheads-rar-rac-oi-national-front/" target="_blank"><q>Inside the Green Room.</q> <em>Jacobin</em>. June 14, 2016.</a></p>

          <p><a href="http://iaspm-us.net/mixtape-series-2016-punk-rock-new-york-by-jarek-paul-ervin/" target="_blank"><q>Punk Rock New York.</q> <em>International Association for the Study of
          Popular Music-US Website</em>. March 10, 2016.</a></p>
        <br>

        <h5>REVIEWS</h5>

        <p><em>Networks of Sound, Style, and Subversion: The Punk and Post-Punk
        Worlds of Manchester, London, Liverpool, and Sheffield, 1975-80</em>, by
        Nick Crossley. <em>Popular Music</em> 35:02 (May, 2016): 291-293.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="col-md-12 w3-animate-top" id="blog-post">
    <div class="container">
      <div class=" well well-lg" id="post-content">
       <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

         <header class="post-header">
           <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
           <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
         </header>

         <div class="post-content" itemprop="articleBody">
           {{ content }}
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="myFunction()">Close</button>
        </div>
       </article>
    </div>
     </div>
  </div>

  <script>
    function myFunction() {
    document.getElementById("blog-post").style.WebkitAnimation = "animateup";  // Code for Chrome, Safari, and Opera
    document.getElementById("blog-post").style.animation = "animateup";
    }
  </script>
  <!-- jQuery -->
  <script src="../../../../../js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../../../js/bootstrap.min.js"></script>
